ion-item{
    --background: transparent;
    color: #fff;
    font-family: 'Spotify';

    p{
        color:  #949494;
    }
}

.album-info{
    color: #fff;
    margin-left: 11px;
    p{
        font-weight: bold;
    }
}