.section-header{
    color: #fff;
    font-family: 'Spotify';
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: -10px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.albumImg{
    height: 140px;
}

.settings-icon{
    margin-top: 15px;
    margin-right: 15px;
}

swiper-container{
    width: 100%;
    height: 100%;
}

swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}