.section-header{
    color: #fff;
    font-family: 'Spotify';
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 30px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}